/* src/index.css */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

#root {
  max-width: none;
}

.log-entry {
  border: 2px solid transparent;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.log-entry.selected {
  border-color: #007bff;
  padding: 20px;
}

.log-container {
  display: flex;
  max-width: 70%;
  margin: auto; /* Centrera horisontellt */
  background-color: white;
  border-radius: 5px;
  padding: 20px; /* Justera om det behövs */
}

.calendar-form-container {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.calendar-dot {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  display: block;
  margin: 2px auto 0;
}

#form-for-anteckning {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.log-list-container {
  flex: 1;
  padding: 30px;
}

.log-entry-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
}
