/* src/index.css */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

#root {
  max-width: none;
}
img {
  width: 60%;
}
.log-entry {
  border: 2px solid transparent;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.log-entry.selected {
  border-color: rgb(157, 226, 253);
  border-radius: 10px;
  padding: 20px;
}

.container {
  display: flex;
  height: 100vh;
  margin: auto;
  background-color: white;
  padding: 50px;
}
.log-container {
  display: flex;
  max-width: 70%;
  height: 100vh;
  margin: auto;
  background-color: white;
  padding: 20px;
}

.calendar-form-container {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.calendar-dot {
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
  display: block;
  margin: 2px auto 0;
}

#form-for-anteckning {
  background-color: #ffffff;
  /* border: 1px solid #dee2e6;
  border-radius: 8px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  color: #333;
  cursor: pointer;
}

#form-for-anteckning:hover {
  background-color: #f8f9fa;
}

.btn:hover {
  background-color: #0056b3;
}

.log-list-container {
  flex: 1;
  padding: 30px;
}

.log-entry-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
}

.diagram-container {
  max-width: 100%;
}

.card {
  width: 400px;
  margin: 20px;
}

.card-body {
  background-color: #f8f9fa;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.custom-card {
  border-radius: 50px;
  overflow: hidden;
}
.nav-item-text {
  font-size: 18px;
  margin-right: 20px;
}
.header-image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.react-calendar {
  border-radius: 8px;
  overflow: hidden;
}

.react-calendar__tile {
  border-radius: 0;
}
.react-calendar__tile--active {
  background-color: #f8f9fa;
}

.symptom-buttons-container {
  display: flex;
  flex-wrap: wrap;
}

.symptom-button-container {
  margin-right: 10px;
  margin-bottom: 10px;
}

.symptom-button {
  display: inline-block;
  margin-right: 5px;
}

.symptom-dropdown {
  display: inline-block;
  margin-right: 10px;
}

/* Media query för mindre skärmar */
@media (max-width: 576px) {
  .d-flex {
    flex-direction: column;
    justify-content: center;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .log-container {
    display: flex;
    flex-direction: column;
  }

  .calendar-form-container,
  .log-list-container {
    width: 100%;
    padding: 10px;
  }

  .calendar-dot {
    width: 3px;
    height: 3px;
    margin: 1px auto 0;
  }

  /* Justera storlek och marginaler för formulärfälten */
  #form-for-anteckning input[type="text"] {
    width: 100%; /* Gör formulärfälten fullbredd */
    margin-bottom: 10px; /* Justera marginalerna mellan formulärfälten */
    padding: 8px; /* Justera padding för formulärfälten */
    font-size: 0.9em; /* Justera textstorleken för formulärfälten */
  }

  /* Anpassa layouten för mindre skärmar */
  .calendar-form-container form {
    margin-top: 10px; /* Justera mellanrum mellan formuläret och kalendern för mindre skärmar */
  }

  .react-calendar {
    border-radius: 8px;
    overflow: hidden;
  }

  .react-calendar__tile {
    border-radius: 0; /* Återställ border-radius för mindre skärmar */
    padding: 5px; /* Justera padding för mindre skärmar */
    font-size: 0.8em; /* Minska textstorleken för mindre skärmar */
  }

  /* Justera bakgrundsfärgen för aktiva kalenderplattor för mindre skärmar */
  .react-calendar__tile--active {
    background-color: #f8f9fa; /* Justera bakgrundsfärgen för mindre skärmar */
  }
}
